@media print {
    body {
        display: none;
    }

    .sk-article-content {
        display: block; /* affichage des éléments à mettre en PDF */
    }

    .sk-globalmenu, .sk-article-header, .fc-search, .fc-tools, .sk-whychoose, .sk-bottom {
        display: none;
    }

/*    p, blockquote {
        orphans: 3; /* pas de ligne seule en bas */
        widows: 3; /* pas de ligne seule en haut */
/*    }
/*
    blockquote, ul, ol {
        page-break-inside: avoid; /* pas de coupure dans ces élements */
/*    }

    h1 {
        page-break-before: always; /* chaque titre commence sur une nouvelle page */
/*    }

    h1, h2, h3, caption {
        page-break-after: avoid; /* pas de saut après ces éléments */
/*    }
*/
}