@media print {
/*    html {
        display: none;
    }
*/
    .sk-article-content {
        display: none;
    }
/*
    .sk-globalmenu, .sk-article-header, .fc-search, .fc-tools, .sk-whychoose, .sk-bottom {
        display: none;
    }*/
}